{% extends "base.html" %} 

{% block titulo %} Traslado de Paquete {% endblock %}

{% block encabezado %}

<center> 
  <h2 class="text-center mb-4 encabezado-paquete" style="color: #000000e5;">Traslado de Paquete</h2> 
  <h2 class="text-center mb-4 encabezado-paquete" style="color: #000000e5;">Paquete: {{idpaquete}}</h2>
  <h2 class="text-center mb-4 encabezado-paquete" style="color: #000000e5;">CAE: {{nombrecae}}</h2>
</center>

{% endblock %}


{% block combos %}

<center>

<label for="combobox2">Año</label>

<select name="combobox2" id="cboaño" class="combobox combobox-año">
{% for año in años %}

<option value="{{año}}">{{año}}</option>

{% endfor %}

</select>


<!-- Combobox 1 -->

<label for="combobox1">Entidad Federativa</label>

<select name="combobox1" id="cboestado" class="combobox combobox-entidad">
{% for dis in entidad_federativa %}

<option value="{{ dis }}">{{ dis }}</option>

{% endfor %}

</select>


<!-- Combobox 3 -->

<label for="combobox3">Elección</label>

<select name="com<select name="combobox3" id="cboeleccion" class="combobox combobox-eleccion">
  bobox3" id="combobox3" class="combobox">

{% for dis in eleccion %}

<option value="{{ dis }}">{{ dis }}</option>

{% endfor %}

</select>

<label for="combobox4">Cargo</label>
<select name="combobox4" id="cbocargo" class="combobox combobox-cargo">

  {% for dis in cargo %}

  <option value="{{ dis }}">{{ dis }}</option>
  
  {% endfor %}

</select>



</center>
 



{% endblock %}


{% block contenido %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


{% if messages %}
  <div class="messages-container">
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          <!-- Agregamos un ícono de alerta -->
          <span class="icon">
            {% if message.tags == 'success' %}
              <i class="fas fa-check-circle"></i>
            {% elif message.tags == 'error' %}
              <i class="fas fa-exclamation-circle"></i>
            {% endif %}
          </span>
          <div class="message-text">
            {{ message }}
            <!-- Agregamos el botón de cerrar -->
            <a href="{% url 'partidos' %}" class="close-btn" onclick="cerrarMensaje(this)">X</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}




<script>
  function cerrarMensaje(btn) {
    // Obtén el elemento padre li del botón
    var mensajeLi = btn.parentNode;

    // Oculta el mensaje
    mensajeLi.style.display = 'none';
  }
</script>



{% load static %}
<style>
  .table-container-horizontal {
    overflow-x: auto;
    white-space: nowrap;
  }

  /* Estilos para dispositivos móviles */



  .combos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .messages-container {
    position: relative;
    z-index: 9999;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .messages {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .messages li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .messages li.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  .messages li.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }

  .icon {
    margin-right: 10px;
  }

  .message-text {
    flex-grow: 1;
  }

  .close-btn {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
  }

  h1 {
    margin-top: 10px;
  }

  .combobox {
    padding: 8px;
    font-size: 14px;
    border: 2px solid #c1c1c1;
    border-radius: 5px;
    margin: 5px;
    width: 90%;
    max-width: 300px;
    background-color: #ffffffe5;
  }

  label {
    display: block;
    margin: 10px 0 5px 0;
  }

  .table-container {
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
  }

  .table-responsive {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    
  }


  .text-center {
    text-align: center;
    color: #686565;
  }

  .custom-table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: none;
  }

  .custom-table th{

    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    color: rgba(87, 87, 87, 0.898);
  }
  .custom-table td 
  {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    
    color: #000000e5;
  }

  .custom-table th {
    background-color: #ff69b4e5;
    font-weight: bold;
  }

  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .custom-table td a {
    color: #000;
  }

  .btn-info,
  .btn-delate {
    background-color: transparent;
    border: none;
  }

  #botones-fila {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  #botones-fila button {
    margin: 0 5px;
  }

  #botones-fila.botones-fijos {
  position: fixed;
  bottom: 10px; /* Ajusta este valor según tu preferencia */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

  #dato1,
  #dato2,
  #dato3 {
    color: #515151e5;
    display: none;
    text-align: center;
    margin: 1px auto 10px auto;
    font-size: 18px;
    font-weight: bold;
  }

  .sticky-top {
    position: sticky;
    top: 0;
    background-color: #ff69b4e5;
    z-index: 1;
  }

  /* Desktop styles */
  @media (min-width: 768px) {
 

h2.encabezado-tablas {
    color: rgba(87, 87, 87, 0.898); /* Ajusta el color del texto según tus preferencias */
    font-size: 26px; /* Ajusta el tamaño de fuente según tus preferencias */
  }


.messages-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}


  .messages {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .messages li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .messages li.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  .messages li.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }

  .icon {
    margin-right: 10px;
  }

  .message-text {
    flex-grow: 1;
  }

  .close-btn {
    margin-left: 300px;
    text-decoration: none;
    color: #000;
  }


  /* Contenedor de la tabla */
  .table-container {
    width: 100%;
    overflow-y: auto;
    max-height: 450px; /* Ajusta la altura máxima según tus necesidades */
  }

  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .text-center {
    text-align: center;
    color: #686565;
  }

  /* Estilo general de la tabla */
  .custom-table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: none;
  }

  .custom-table th,
  .custom-table td {
    padding: 15px;
    text-align: left;
    border: 2px solid #ddd;
  }

  .custom-table th {
    background-color: #ff7abce5;
    font-weight: bold;
    
  }

  .custom-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Estilo de los botones */
  .custom-table td a {
    color: #000;
  }

  .btn-info,
  .btn-delate {
    background-color: transparent;
    border: none;
  }

  .table-container {
    margin-top: -10px; /* Ajusta el valor según tus necesidades */
  }


  .main-container {
    width: 80%;
    height: 55%;
    margin: 0 auto; /* Elimina el margen superior */
    overflow-x: auto;
    position: fixed; /* Agrega posición fija */
    top: 29%; /* Coloca el contenedor en la parte superior */
    left: 50%; /* Ajusta la posición horizontal según tus necesidades */
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
}

.contenedorcombos {
  position: fixed;
  top: 50%;
  margin: 0 auto;
  left: 50%;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

  
  /* Estilo para el combobox del Año */
  .combobox-año {
  padding: 10px;
  font-size: 19px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 45px;
  width: 120px;
  top: 30%;
  background-color: #ffffffe5;
  margin-inline-start: 10px;/* Estilos específicos para el combobox de Año */
}

/* Estilo para el combobox de la Entidad Federativa */
.combobox-entidad {
  padding: 10px;
  font-size: 19px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 10px;
  width: 190px;
  top: 30%;
  background-color: #ffffffe5;
  margin-inline-start: 5px; /* Estilos específicos para el combobox de Entidad Federativa */
}

/* Estilo para el combobox de la Elección */
.combobox-eleccion {
  padding: 10px;
  font-size: 19px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 10px;
  width: 210px;
  top: 70%;
  background-color: #ffffffe5;
  margin-inline-start: 2px;  /* Estilos específicos para el combobox de Elección */
}

/* Estilo para el combobox del Cargo */
.combobox-cargo {
  padding: 10px;
  font-size: 19px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  top: 30%;
  background-color: #ffffffe5;
  margin-inline-start: 2px; /* Estilos específicos para el combobox de Cargo */
}

/* Estilo para el combobox del Distrito */
.combobox-distrito {
  padding: 10px;
  font-size: 19px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 10px;
  top: 30%;
  width: 220px;
  background-color: #ffffffe5;
  margin-inline-start: 2px; /* Estilos específicos para el combobox de Distrito */
}


/* Estilo para las etiquetas de los combobox */
label {
  display:contents;
  margin: 10px 0 5px 0;
}

  }

  @media (max-width: 767px) {
  .table-responsive {
    max-width: 367px; /* Establece un ancho máximo para la tabla */
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
    -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos móviles */
  }

  #botones-fila.botones-fijos {
  position: absolute;
  bottom: -750px; /* Ajusta este valor según tu preferencia */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}


.combobox {
    border: 1px solid #ccc; /* Borde más delgado */
    border-radius: 3px; /* Radio de borde más pequeño */
    background-color: #fff; /* Fondo blanco */
  }

  .combobox {
    margin: 10px 0; /* Ajusta el margen superior e inferior */
  }

  label {
  font-size: 12px; /* Ajusta el tamaño de fuente de las etiquetas */
  font-weight: bold; /* Hace que las letras sean negritas */
  margin-bottom: 2px; /* Ajusta el margen inferior de las etiquetas */
}



  h2.encabezado-paquete {
    font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
  }


  h2.encabezado-tablas {
    color: rgba(87, 87, 87, 0.898); /* Ajusta el color del texto según tus preferencias */
    font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
  }

  .custom-table th {
    font-size: 12px; /* Ajusta el tamaño de fuente según tus preferencias */
  }

  .custom-table td {
    font-size: 11px; /* Ajusta este tamaño según tus preferencias */
  }



}
  
</style> 


<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="main-container">

  {% if emergenciaR %}
  <br>
  
  <h2 class="text-center mb-4 encabezado-tablas" ">Emergencia en Traslado de Paquete</h2>
  <br>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped shadow-sm custom-table">
    <thead>
      <tr>
        <th>Fecha y Hora</th>
        <th>Latitud Inicial</th>
        <th>Longitud Inicial</th>
        <th>Emergencia</th>
        <th>Ubicación</th>
      </tr>
    </thead>

    <tbody>

      {% for inicio in emergenciaR %}
      <tr>
        <td>{{ inicio.Fecha_Hora|date:"d/m/Y H:i" }}</td>
        <td>{{ inicio.Latitud }}</td>
        <td>{{ inicio.Longitud }}</td>
        <td>{{ inicio.incidencia }}</td>
        <td class="text-center">
          <a name="" id="" class="btn btn-info" href="{% url 'ubicar_paquete' inicio.Latitud inicio.Longitud %}" target="_blank" role="button">
              <img src="{% static 'path_to_location_icon.png' %}" alt="Ubicar" height="65" width="65">
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  </div>
  
  <br>
<br>
<br>
  {% endif %}



  {% if incidenciaR %}
  <br>
  
  <h2 class="text-center mb-4 encabezado-tablas" ">Incidencia en Traslado de Paquete</h2>
  <br>
  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped shadow-sm custom-table">
    <thead>
      <tr>
        <th>Fecha y Hora</th>
        <th>Latitud Inicial</th>
        <th>Longitud Inicial</th>
        <th>Incidencia</th>
        <th>Ubicación</th>
      </tr>
    </thead>

    <tbody>

      {% for inicio in incidenciaR %}
      <tr>
        <td>{{ inicio.Fecha_Hora|date:"d/m/Y H:i" }}</td>
        <td>{{ inicio.Latitud }}</td>
        <td>{{ inicio.Longitud }}</td>
        <td>{{ inicio.incidencia }}</td>
        <td class="text-center">
          <a name="" id="" class="btn btn-info" href="{% url 'ubicar_paquete' inicio.Latitud inicio.Longitud %}" target="_blank" role="button">
              <img src="{% static 'path_to_location_icon.png' %}" alt="Ubicar" height="65" width="65">
          </a>
        </td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
  </div>
  
  <br>
<br>
<br>
  {% endif %}



  {% if inicioR %}

  <div class="table-container mx-auto" id="myTable" >
    <br>  <br>
    
    <h2 class="text-center mb-4 encabezado-tablas" ">Inicio de Traslado de Paquete</h2>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-striped shadow-sm custom-table">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Latitud Inicial</th>
          <th>Longitud Inicial</th>
          <th>Fotografia 1</th>
          <th>Fotografia 2</th>
          <th>Ubicación</th>
        </tr>
      </thead>

      <tbody>

        {% for inicio in inicioR %}
        <tr>
          <td>{{ inicio.Fecha_Hora|date:"d/m/Y H:i" }}</td>
          <td>{{ inicio.Latitud }}</td>
          <td>{{ inicio.Longitud }}</td>
          <td>
          <img src="{{ inicio.Fotografia_2.url }}" height="100"  />  
          </td>
          <td>
            <img src="{{ inicio.Fotografia_1.url }}" height="100"  />  
          </td>
        </td>

        <td class="text-center">
          <a name="" id="" class="btn btn-info" href="{% url 'ubicar_paquete' inicio.Latitud inicio.Longitud %}" target="_blank" role="button">
              <img src="{% static 'path_to_location_icon.png' %}" alt="Ubicar" height="65" width="65">
          </a>
        </td>

        </tr>

        {% endfor %}

      </tbody>
    </table>
    </div>
    {% else %}
    <h2 class="text-center mb-4 encabezado-tablas" ">Aún no inicia el recorrido del paquete</h2>
    {% endif %}
    {% if rutaR %}
    <br>
    <br>
    <br>
    <h2 class="text-center mb-4 encabezado-tablas" ">Coordenadas Registradas</h2>
    <br>
    <div class="table-container mx-auto" id="myTable" >
    <table class="table table-hover table-bordered table-striped shadow-sm custom-table">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Ubicación</th>
        </tr>
      </thead>

      <tbody>

        {% for ruta in rutaR %}
        <tr>
          <td>{{ ruta.Fecha_Hora|date:"d/m/Y H:i" }}</td>
          <td>{{ ruta.Latitud }}</td>
          <td>{{ ruta.Longitud }}</td>
          <td class="text-center">
           <a name="" id="" class="btn btn-info" href="{% url 'ubicar_paquete' ruta.Latitud ruta.Longitud %}" target="_blank" role="button">
              <img src="{% static 'path_to_location_icon.png' %}" alt="Ubicar" height="65" width="65">
           </a>
          </td>
        </tr>
      </div>
        {% endfor %}

      </tbody>
    </table>
  </div>
    {% else %}

    {% if inicioR %}
    <br>
    <br>
    <br>
    <h2 class="text-center mb-4 encabezado-tablas"">Aún no hay rutas registradas</h2>
    <br>
    <br>
    <br>
    {% endif %}

    {% endif %}
    <br>
    <br>
    <br>
    {%if llegoR %}
    <h2 class="text-center mb-4 encabezado-tablas" ">Llegada de Paquete a Centro de Acopio: </h2>
    <br>
    <div class="table-responsive"> 
    <table class="table table-hover table-bordered table-striped shadow-sm custom-table">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Latitud Final</th>
          <th>Longitud Final</th>
          <th>Fotografia 1</th>
          <th>Fotografia 2</th>
          <th>Ubicación</th>
        </tr>
      </thead>

      <tbody>

        {% for llego in llegoR %}
        <tr>
          <td>{{ llego.Fecha_Hora|date:"d/m/Y H:i" }}</td>
          <td>{{ llego.Latitud }}</td>
          <td>{{ llego.Longitud }}</td>
          <td>
          <img src="{{ llego.Fotografia_2.url }}" height="100"  />  
          </td>
          <td>
            <img src="{{ llego.Fotografia_1.url }}" height="100"  />  
          </td>
          <td class="text-center">
            <a name="" id="" class="btn btn-info" href="{% url 'ubicar_paquete' llego.Latitud llego.Longitud %}" target="_blank" role="button">
               <img src="{% static 'path_to_location_icon.png' %}" alt="Ubicar" height="65" width="65">
            </a>
           </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
    </div>
    {% else %}

    {% if inicioR and rutaR  %}
    <br>
    <br>
    <br>
    <h2 class="text-center mb-4 encabezado-tablas" ">Aún no llega el paquete</h2>
    <br>
    <br>
    <br>
    {% endif %}
    {% endif %}
    <br>
    <br>
    <br>
    {%if entregaR %}
    <h2 class="text-center mb-4 encabezado-tablas" ">Entrega de Paquete a Centro de Acopio: </h2>
    <br>
    <div class="table-responsive"> 
    <table class="table table-hover table-bordered table-striped shadow-sm custom-table">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Latitud Final</th>
          <th>Longitud Final</th>
          <th>Ubicación</th>
        </tr>
      </thead>

      <tbody>

        {% for llego in entregaR %}
        <tr>
          <td>{{ llego.Fecha_Hora|date:"d/m/Y H:i" }}</td>
          <td>{{ llego.Latitud }}</td>
          <td>{{ llego.Longitud }}</td>
          <td class="text-center">
            <a name="" id="" class="btn btn-info" href="{% url 'ubicar_paquete' llego.Latitud llego.Longitud %}" target="_blank" role="button">
               <img src="{% static 'path_to_location_icon.png' %}" alt="Ubicar" height="65" width="65">
            </a>
           </td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
    </div>
    {% else %}

    {% if inicioR and rutaR and llegoR %}
    <br>
    <br>
    <br>
    <h2 class="text-center mb-4 encabezado-tablas" ">Aún no se entrega el paquete</h2>
    <br>
    <br>
    <br>
    {% endif %}
    {% endif %}

  </div>




</div>
<div id="botones-fila" class="botones-fijos">
  <button type="button" id="cerrar-button">Cerrar</button>
</div>  

<br>
<br>
<br>



<script>
    // Obtén el elemento del botón
    var consultarAgregarButton = document.getElementById('cerrar-button');

    // Agrega un evento de clic al botón
    consultarAgregarButton.addEventListener('click', function() {
        // Redirige a la URL específica utilizando JavaScript
        window.location.href = "{% url 'Recorrido_de_paquetes' %}";
    });


</script>

{% endblock %}


