{% extends "base.html" %}

{% block titulo %} Editar un Municipio {% endblock %}

{% block encabezado %}<center> <h1 class="text-center mb-4" style="color: #3a3a3ae5;"> Editar un Municipio </h1></center>{% endblock %}

{% block contenido %}

<style>
.readonly-select {
    pointer-events: none;
}
.form-control,
    input, /* Agrega estilos a los elementos input */
    select {
      background-color: #f5f5f5;
      border: 2px solid #000000e5;
      border-radius: 10px;
      padding: 15px;
      font-size: 16px;
      width: 100%;
      margin-bottom: 30px;
    }

  
    .form-container {
      max-width: 800px;
      height: 500px;
      width: 100%;
      margin: 1px auto; /* Centra el formulario y agrega margen */
      padding: 40px;
      background-color: #ffffff;
      border-radius: 20px;
  
      margin-top: -220px;
    }
    .form-label {
        color: #000000e5;
        font-weight: bold;
      }
    
    .form-control {
        background-color: #f5f5f5;
        border: 2px solid #000000e5;
        border-radius: 10px;
        padding: 15px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 30px;
    }
  
  
  </style>
<body>
  <form enctype="multipart/form-data" method="post" class="form-container">
    {% csrf_token %}
    <div class="row">
      {% for campo in formulario %}
        <div class="col-md-2">
          <div class="form-group datepicker-container {% if campo.id_for_label == 'id_idproceso' %}no-datepicker{% endif %}">
            <label for="{{ campo.id }}" class="form-label">{{ campo.label_tag }}</label>
            {{ campo }}
            {% if campo.id_for_label == 'id_idproceso' %}
              {# Si es el campo "Clave de la Elección", no mostrar el span del datepicker #}
            {% else %}
              <span class="ui-datepicker-trigger"></span>
            {% endif %}
          </div>
        </div>
        
      {% endfor %}
      
    <div id="botones-fila">
      <button name="" style="color: black" id="" class="btn btn-fila" type="submit">Guardar Datos</button>
      <button class="btn btn-fila" style="color: black ">Cancelar</button>
      <button class="btn btn-fila" style="color: black" id="cerrar-button">Cerrar</button>
    </div>
  </form>

  <script>
    var consultarAgregarButton = document.getElementById('cerrar-button');
    consultarAgregarButton.addEventListener('click', function() {
      window.location.href = "{% url 'municipios' %}";
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

{% endblock %}
